.dashboard-container{

    max-width:1200px;

    margin:auto;

    padding:40px;

}

.dashboard-container h1{

    margin-bottom:25px;

    color:#6c63ff;

}

.search-input{

    width:100%;

    max-width:420px;

    padding:13px;

    border-radius:12px;

    border:1px solid #ddd;

    outline:none;

    margin-bottom:25px;

}

.search-input:focus{

    border-color:#6c63ff;

}

.notes-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));

    gap:25px;

    margin-top:30px;

}

.app.dark .search-input{

    background:#1d2027;

    color:white;

    border-color:#444;

}