.navbar {

  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:18px 45px;

  background:#ffffff;

  box-shadow:0 5px 20px rgba(0,0,0,0.06);

}


.navbar-brand {

  display:flex;
  align-items:center;
  gap:15px;

  font-size:24px;
  font-weight:600;

  color:#6c63ff;

}



.theme-btn {

  border:none;

  background:#f2efff;

  padding:8px 12px;

  border-radius:50%;

  cursor:pointer;

}



.navbar-links {

  display:flex;

  align-items:center;

  gap:22px;

}


.navbar-links a:hover {

  color:#6c63ff;

}



.navbar-greeting {

  color:#777;

}



.navbar-logout-btn {

  border:none;

  background:#ff8fab;

  color:white;

  padding:9px 16px;

  border-radius:12px;

  cursor:pointer;

}



/* Dark */

.app.dark .navbar {

 background:#20232a;

}


.app.dark .navbar-greeting {

 color:#ddd;

}