.notfound-container{

    min-height:80vh;

    display:flex;

    justify-content:center;

    align-items:center;

    flex-direction:column;

    text-align:center;

}

.notfound-code{

    font-size:120px;

    color:#6c63ff;

    margin-bottom:10px;

}

.notfound-message{

    font-size:30px;

    margin-bottom:25px;

}

.notfound-link{

    background:#6c63ff;

    color:white;

    padding:14px 30px;

    border-radius:14px;

    transition:.3s;

}

.notfound-link:hover{

    transform:translateY(-2px);

}